@import url('https://fonts.googleapis.com/css2?family=Pavanam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Pavanam&display=swap');

.body{
    margin: 0;
    font-family: 'Pavanam', sans-serif;

}

.header{
    overflow: auto;
    width: 100%;
    margin:auto;
    position: fixed;
    margin-bottom: 50px;
    margin-left: 20ox;

}

.header .navbar li {
    float: left;
    margin-left: 20px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

}


.navbar{
    list-style: none;
    float: left;
    overflow: auto;
    font-size: 20px;
    font-family: 'Pavanam', sans-serif;
}


.titulo{
  float: left;
  font-family: 'Pavanam', sans-serif;
  font-size: 40px;
  margin-left: 30px;
}

.container{
    width: 90%;
    margin:auto;
}

.login{
    width: 45%;
    background-color: burlywood;
    float: left;
    height: 80px;
    margin-left: 100px;
    text-align: center;
    border-radius: 10px;
}

.form{
    margin-top: 30px;
}

